<section>
    <!--this is basically the header-->
        <div class="white-bar">
            <figure ng-show="showForm">
                <img src="css/images/451logo.png" alt="Four51 Logo"/>
            </figure>
            <h5 class="success-title" ng-show="rewardSuccess">
                Thanks for your order!
            </h5>

            <h1 ng-show="rewardError">Oops!</h1>
            <h1 ng-show="generatingReward">Generating...</h1>
        </div>

    <!--body copy for form1 page-->
    <div class="content" ng-show="showForm">
        <div class="row" ng-show="showForm">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" ng-show="showForm">
                        <p class="success-paragraph">Thanks for joining us at B2B Online 2015 and for exploring Four51's ordering capabilities. Fill out the information below to get your <em>FREE Portable thanks for  Charger</em> to keep your phone charged and ready to place orders when you're on-the-go. We'll get your Portable Battery Charger in the mail and to you by the end of May!</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="content" ng-hide="generatingReward">

        <!--body copy for success-->
        <div class="row" ng-show="rewardSuccess">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" ng-show="rewardSuccess">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="success-paragraph">Your Portable Battery Charger will be in the mail and to you by the end of May.</p>
                    </div>
                    <div class="col-xs-12">
                        <img class="img-responsive text-center success-graphic" align="center" ng-show="rewardSuccess" src="css/images/charger.png" alt="the black and white power pack charger with the orange Four51 logo" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        <form name="recipientform" ng-submit="createReward()">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" ng-show="showForm">
                <div class="row">
                    <div class="col-xs-6">
                        <label>First Name</label>
                        <input name="FirstName" class="form-control" type="text" ng-model="recipient.FirstName" placeholder="First Name" ng-required="true" />
                    </div>
                    <div class="col-xs-6">
                        <label>Last Name</label>
                        <input name="LastName" class="form-control" type="text" ng-model="recipient.LastName" placeholder="Last Name" ng-required="true" />
                    </div>
                </div>
                <div>
                    <label>Company</label>
                    <input name="Company" class="form-control" type="text" ng-model="recipient.Company" placeholder="Company" ng-required="false" />
                </div>
                <div>
                    <label>Address</label>
                    <input name="Address1" class="form-control" type="text" ng-model="recipient.Address1" placeholder="Address 1" ng-required="true" />
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label>City</label>
                        <input name="City" class="form-control" type="text" ng-model="recipient.City" placeholder="City" ng-required="true" />
                    </div>
                    <div  class="col-xs-4">
                        <div ng-show="!hasStates()">
                            <label>State</label>
                            <input ng-show="!hasStates()" class="form-control" type="text" ng-model="recipient.State" placeholder="State" autocomplete="off" ng-required="!hasStates()" />
                        </div>
                        <div ng-show="hasStates()">
                            <label>State</label>
                            <select ng-show="hasStates()" class="form-control" ng-options="state.value as state.label for state in states | filter:country" ng-model="recipient.State" placeholder="State" ng-required="hasStates()"></select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label>Zip</label>
                        <input name="ZipCode" class="form-control" type="text" ng-model="recipient.ZipCode" placeholder="Zip" ng-required="true" />
                    </div>
                </div>
                <div>
                    <label>Country</label>
                    <select name="country" class="form-control" ng-options="country.value as country.label for country in countries" ng-model="recipient.Country" placeholder="Country" ng-required="true"></select>
                </div>
                <div>
                    <label>Email</label>
                    <input name="Email" class="form-control" type="email" ng-model="recipient.Email" placeholder="Email Address" ng-required="true" />
                </div>

                <div class="checkbox-inline">
                    <label>
                        <input  type="checkbox" checked="true" ng-model="sendMandrill"/>
                        <small style="vertical-align: text-top;"> Send me some Case Studies for Manufacturers and Distributors </small>
                    </label>

                </div>

                <div>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3" >
                            <button type="submit"  class="btn btn-block btn-lg" ng-disabled="recipientform.$invalid">SUBMIT</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    </div>

    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" ng-show="generatingReward">
        <loadingindicator ng-show="generatingReward"></loadingindicator>
    </div>

    <!--this is at the bottom to avoid showing up in the content div-->
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" ng-show="rewardSuccess">
        <div class="row bottom-form" ng-show="rewardSuccess">
            <h3 align="center">Interested in checking out our demo site?</h3><br>

            <!--this is basically a new form for mandrill-->
            <a class="btn btn-success center-block" href="https://marketing.four51ordercloud.com">view the demo site</a>
        </div>
    </div>


</section>