<section>
    <div class="orange-bar">
        <figure ng-show="showForm">
            <img src="css/images/451logo.png" alt="Four51 Logo"/>
        </figure>
        <h1 class="success-title" ng-show="rewardSuccess">
            <b><span>Thank</span><br/><span>You!</span></b>
        </h1>
        <h1 ng-show="rewardError">Sorry!</h1>
        <h1 ng-show="generatingReward">Generating...</h1>
    </div>
    <div class="success-graphic row" ng-show="rewardSuccess"></div>
    <div class="row">
        <form name="recipientform" ng-submit="createReward()">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" ng-show="showForm">
                <div class="row">
                    <div class="col-xs-6">
                        <label>First Name</label>
                        <input name="FirstName" class="form-control" type="text" ng-model="recipient.FirstName" placeholder="First Name" ng-required="true" />
                    </div>
                    <div class="col-xs-6">
                        <label>Last Name</label>
                        <input name="LastName" class="form-control" type="text" ng-model="recipient.LastName" placeholder="Last Name" ng-required="true" />
                    </div>
                </div>
                <!--<div>-->
                    <!--<label>Title</label>-->
                    <!--<input name="Title" class="form-control" type="text" ng-model="recipient.Title" placeholder="Title" ng-required="false" />-->
                <!--</div>-->
                <div>
                    <label>Company</label>
                    <input name="Company" class="form-control" type="text" ng-model="recipient.Company" placeholder="Company" ng-required="false" />
                </div>
                <div>
                    <label>Address</label>
                    <input name="Address1" class="form-control" type="text" ng-model="recipient.Address1" placeholder="Address 1" ng-required="true" />
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label>City</label>
                        <input name="City" class="form-control" type="text" ng-model="recipient.City" placeholder="City" ng-required="true" />
                    </div>
                    <div  class="col-xs-4">
                        <div ng-show="!hasStates()">
                            <label>State</label>
                            <input ng-show="!hasStates()" class="form-control" type="text" ng-model="recipient.State" placeholder="State" autocomplete="off" ng-required="!hasStates()" />
                        </div>
                        <div ng-show="hasStates()">
                            <label>State</label>
                            <select ng-show="hasStates()" class="form-control" ng-options="state.value as state.label for state in states | filter:country" ng-model="recipient.State" placeholder="State" ng-required="hasStates()"></select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <label>Zip</label>
                        <input name="ZipCode" class="form-control" type="text" ng-model="recipient.ZipCode" placeholder="Zip" ng-required="true" />
                    </div>
                </div>
                <div>
                    <label>Country</label>
                    <select name="country" class="form-control" ng-options="country.value as country.label for country in countries" ng-model="recipient.Country" placeholder="Country" ng-required="true"></select>
                </div>
                <div>
                    <label>Email</label>
                    <input name="Email" class="form-control" type="email" ng-model="recipient.Email" placeholder="Email Address" ng-required="true" />
                </div>


                <label>
                    <input  type="checkbox" checked="true" ng-model="sendMandrill"/><small> send me information on Four51 OrderCloud </small><br/>
                </label>

                <div >
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3" >
                            <button type="submit"  class="btn btn-block btn-lg btn-success" ng-disabled="recipientform.$invalid">SUBMIT</button>
                        </div>
                    </div>
                </div>



            </div>
        </form>
    </div>
    <loadingindicator ng-show="generatingReward"></loadingindicator>
</section>