//
// Custom variables ** Bootstrap
// --------------------------------------------------


//== Colors
@brand-success:#FF6033;
@brand-navy:#003843;
@brand-blue:#008fdc;
@brand-teal:#43beca;
@brand-yellow:#fbd764;
@brand-gray:#a2a2a2;
@brand-white:#fff;

//== Scaffolding
@body-bg: @brand-white;
@bg-pattern: url("images/patternBG.bmp") ;

//== Typography
@text-color: @brand-navy;
@headings-font-family: "Lato",sans-serif;
@headings-color: @brand-navy;
//== Components

//== Tables

//== Buttons

//== Forms

//== Dropdowns

//== Media queries breakpoints

//== Grid system

//== Container sizes

//== Navbar

//== Navs

//== Pills

//== Pagination

//== Pager

//== Jumbotron

//== Form states and alerts

//== Tooltips

//== Popovers

//== Labels

//== Modals

//== Alerts

//== Progress bars

//== List group

//== Panels

//== Thumbnails

//== Wells

//== Badges

//== Breadcrumbs

//== Carousel

//== Close

//== Code

//== Type

//== Miscellaneous


//
// Custom variables ** 451
// --------------------------------------------------


//== 451
//** @fourfiveone-login-bg
//** @fourfiveone-thumbnail-height
//** @fourfiveone-product-image-height
//** @fourfiveone-category-image-height
//** @fourfiveone-gray-medium
//** @fourfiveone-border-color
//** @fourfiveone-form-icon-color